<div class="students-heading">Student Profile</div>

<div class="row justify-content-center student-profile">

    <div class="card">

        <img class="card-img-top" src="https://robohash.org/<%= @student.name %>">
        <h4 class="mt-2"><strong><%= @student.name %></strong></h4>

        <p class="title">
            <small>Faculty:</small><br>
            <strong><%= @student.faculty %></strong>
        </p>

        <p>
            <small>Student Number:</small><br>
            <strong><%= @student.number %></strong>
        </p>

        <p>
            <%= link_to "Download User Profile (PDF)",
                student_download_path(@student, format: "pdf"),
                target: "_blank",
                class: "btn btn-primary"
            %>
        </p>

    </div>
</div>

<div class="row justify-content-center mt-4">
    <%= link_to 'List All Students', root_path, class: "btn btn-info" %>
</div>
